@import url("https://fonts.googleapis.com/css2?family=Almendra&family=Almendra+SC&display=swap");

/* body {
  font-family: "Almendra", serif;
  color: #3b333d;
} */

/* h1 {
  font-family: "Almendra SC", serif;
  font-size: 3.5rem;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
} */

.contentBody {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-brand {
  font-family: "Almendra", serif;
}

.font {
  font-family: "Almendra", serif;
  color: #3b333d;
}
