@import url("https://fonts.googleapis.com/css2?family=Almendra&family=Almendra+SC&display=swap");

body {
  font-family: "Almendra", serif;
  color: #3b333d;
}

.card-image {
  width: 25%;
  aspect-ratio: 0.75;
  object-fit: cover;
  object-position: center;
}

.movie-card {
  position: relative;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
